<div class="col-sm-3 col-md-2 m-0 p-0">
    <div class="list-group list-group-flush border-bottom sidebar shadow">
        <span class="list-group-item list-group-item-action">
            <strong>
                <i class="fas fa-tachometer-alt dashboard-icon"></i></strong>&nbsp;&nbsp;<strong>Dashboard</strong>
        </span>
        <a href="#" class="list-group-item list-group-item-action">
            &nbsp;&nbsp;<i class="fas fa-ellipsis-v dashboard-icon"></i><i
                class="fas fa-ellipsis-h dashboard-icon"></i>&nbsp;Overview
        </a>
        <span class="list-group-item list-group-item-action">
            <strong><i class="fas fa-cogs dashboard-icon"></i></strong>&nbsp;&nbsp;<strong>Configuration</strong>
        </span>
        <a href="#" class="list-group-item list-group-item-action">
            &nbsp;&nbsp;<i class="fas fa-ellipsis-v dashboard-icon"></i><i
                class="fas fa-ellipsis-h dashboard-icon"></i>&nbsp;Miscellaneous
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            &nbsp;&nbsp;<i class="fas fa-ellipsis-v dashboard-icon"></i><i
                class="fas fa-ellipsis-h dashboard-icon"></i>&nbsp;Guidelines

        </a>

        <a href="#" class="list-group-item list-group-item-action">
            &nbsp;&nbsp;<i class="fas fa-ellipsis-v dashboard-icon"></i><i
                class="fas fa-ellipsis-h dashboard-icon"></i>&nbsp;Rules

        </a>
        <a href="#" class="list-group-item list-group-item-action">
            &nbsp;&nbsp;<i class="fas fa-ellipsis-v dashboard-icon"></i><i
                class="fas fa-ellipsis-h dashboard-icon"></i>&nbsp;Rule Builder

        </a>
        <a href="#" class="list-group-item list-group-item-action">
            &nbsp;&nbsp;<i class="fas fa-ellipsis-v dashboard-icon"></i><i
                class="fas fa-ellipsis-h dashboard-icon"></i>&nbsp;Data

        </a>
        <a href="#" class="list-group-item list-group-item-action">
            &nbsp;&nbsp;<i class="fas fa-ellipsis-v dashboard-icon"></i><i
                class="fas fa-ellipsis-h dashboard-icon"></i>&nbsp;Firewall Rules

        </a>
        <a href="#" class="list-group-item list-group-item-action">
            &nbsp;&nbsp;<i class="fas fa-ellipsis-v dashboard-icon"></i><i
                class="fas fa-ellipsis-h dashboard-icon"></i>&nbsp;Connect Strings
        </a>
        <span class="list-group-item list-group-item-action">
            <strong><i class="fas fa-ambulance dashboard-icon"></i></strong>&nbsp;&nbsp;<strong>Triage</strong>
        </span>
        <a href="#" class="list-group-item list-group-item-action">
            &nbsp;&nbsp;<i class="fas fa-ellipsis-v dashboard-icon"></i><i
                class="fas fa-ellipsis-h dashboard-icon"></i>&nbsp;Data Test
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            &nbsp;&nbsp;<i class="fas fa-ellipsis-v dashboard-icon"></i><i
                class="fas fa-ellipsis-h dashboard-icon"></i>&nbsp;API Request
        </a>
    </div>
</div>